/*Basic Styles*/
h3 {
    text-transform: uppercase;
    font-weight: 600;
}
h4 {
    font-weight: 300;
    margin-bottom: 20px;
}

.logo {
    max-width: 300px;
    z-index: 4;
}
.content {
    position: relative;
    padding: 8% 0;
}
.flex {
    display: flex;
}
.btn-primary {
    background-color: #147EA9;
    border: 0;
    text-transform: uppercase;
}
.img-overlay {
    height: 100%;
    width: 100%;
    z-index: 2; 
    background-size: cover;
    opacity: 1;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0;
}

  #suunto-header {
      background-color: rgb(0, 0, 0);
      cursor: inherit;
      position: relative;
      color: #fff;
      height: 50vh;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  #suunto-header .img-overlay {
      background-image: url('../images/climbing.jpg');
      opacity: 0.7;
      background-position: center center;
  }
  
  .flex-content-center {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      z-index: 4;    
  }
/*Section 2*/
#suunto-2 {
    margin-top: 60px;
    margin-left: 80px;
    background-color: rgb(0, 0, 0);
    cursor: inherit;
    position: relative;
    color: #fff;
    height: 60vh;
    padding: 10% 0;
}
#suunto-2 .img-overlay {
    background-image: url('../images/beach-run.jpg');
    opacity: 0.4;
    background-position: center center;
}

/*Video*/
#video-section {
    position: relative;
    padding: 100px 0;
    height: 60vh;
    background-color: rgb(0, 0, 0);
}
.video-background {
    background: transparent;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
}
.video-foreground {
    width: 300%;
    left: -100px;
}
.video-foreground, .video-background iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

#video-section .img-overlay {
    background-image: url('../images/climbing.jpg');
      opacity: 0.6;
      background-position: center center;
      z-index: 9;
}

/*Section 3*/
#suunto-3 {
    margin: 100px 0;
}

 /*Section 4*/
 #suunto-4 {
     cursor: inherit;
     margin-right: 80px;
     position: relative;
     background-color: rgb(0, 0, 0);
     color: #fff;
     height: 60vh; 
     padding: 10% 0;
 }

 #suunto-4 .img-overlay {
    background-image: url('../images/kilian-jornet-mountains.jpg');
    opacity: 0.3;
    background-position: center center;
}

#suunto-4 .img-layer {
    position: absolute;
    z-index: 3;
    bottom: -80px;
    left: 80px;
}

#suunto-4 .img-layer img {
    width: 700px;
}

/*Suunto CTA*/
#suunto-cta {
    cursor: inherit;
    position: relative;
    margin-right: 80px;
    background-color: rgb(0, 0, 0);
    color: #fff;
    height: 60vh; 
    padding-top: 200px;
}

#suunto-cta .img-overlay {
   background-image: url('../images/mountain-run.jpg');
   opacity: 0.4;
   background-position: center center;
}

.content .img-layer {
    position: absolute;
    z-index: 3;
    top: -140px;
    left: 140px;
}

.content .img-layer img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.content-z {
    z-index: 8;
}

.flex-width {
    flex-basis: 36%;
    margin: 0 40px;
}
/*Mobile*/
@media (max-width: 1024px) {
    #suunto-2 {
        margin-top: 20px;
        margin-left: 0px;
    }
    #suunto-4 {
        margin-right: 0px; 
    }
    #suunto-4 .img-layer {
        bottom: -160px;
        left: 80px;
    }
    #suunto-4 .img-layer img {
        width: 450px;
    }
    .flex-width {
        flex-basis: 90%;
        margin: 40px 0px;
    }
    #suunto-cta {
        margin-right: 0px;
    }
}
@media (max-width: 480px) {
    #suunto-4 .img-layer img {
        width: 300px;
    }
    .content .img-layer {
        position: absolute;
        z-index: 3;
        top: -140px;
        left: 140px;
    }
}