/*Basic Styles*/
h4, .h4 {
    font-weight: 400;
    line-height: 1.5em;
}
.logo {
    max-width: 300px;
    z-index: 4;
}
.content {
    position: relative;
    padding: 8% 0;
}
.flex {
    display: flex;
}
.container {
    z-index: 5;
}

.img-overlay {
    height: 100%;
    width: 100%;
    z-index: 2; 
    background-size: cover;
    opacity: 1;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0;
}

  #suunto-header {
      background-color: rgb(0, 0, 0);
      cursor: inherit;
      position: relative;
      color: #fff;
      height: 60vh;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  #suunto-header .img-overlay {
      background-image: url('../images/climbing.jpg');
      opacity: 0.7;
      background-position: center center;
  }
  
  .flex-content-center {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      z-index: 4;    
  }
/*Section 2*/
#suunto-2 {
    margin-top: 60px;
    margin-left: 80px;
    background-color: rgb(0, 0, 0);
    cursor: inherit;
    position: relative;
    color: #fff;
    height: 60vh;
    padding: 10% 0;
}
#suunto-2 .img-overlay {
    background-image: url('../images/beach-run.jpg');
    opacity: 0.7;
    background-position: center center;
}

 /*Section 4*/
 #suunto-4 {
     cursor: inherit;
     margin-right: 80px;
     margin-bottom: 140px;
     position: relative;
     background-color: rgb(0, 0, 0);
     color: #fff;
     height: 60vh; 
     padding: 10% 0;
 }

 #suunto-4 .img-overlay {
    background-image: url('../images/kilian-jornet-mountains.jpg');
    opacity: 0.3;
    background-position: center center;
}

.img-layer {
    position: absolute;
    z-index: 3;
    bottom: -80px;
    left: 80px;
}

/*Suunto CTA*/
#suunto-cta {
    cursor: inherit;
    position: relative;
    background-color: rgb(0, 0, 0);
    color: #fff;
    height: 60vh; 
}

#suunto-cta .img-overlay {
   background-image: url('../images/gps-routes.jpg');
   opacity: 0.5;
   background-position: center center;
}
